.workoutsBlock {
    margin: 0 auto;
    text-align: center;
    justify-self: center;
    align-self: center;
    border: 5px solid white;
    background: $purple-gradient;
    border-radius: 20px;
    color: white;
    height: 200px;
    overflow-wrap: break-word;
    padding: 40px;
    max-width: 200px;
    cursor: pointer;
    @include boxshadow;
    i, svg {
        font-size: 40px;
    }
    h1 {
        height: 100px;
        margin: 0;
    }
}

.workoutsBlock__edit {
    text-align: center;
    color: grey;
    margin: 0 auto 80px auto;
    width: 250px;
    h3 {
        cursor: pointer;
    }
}

@media only screen and (min-width: $desktop-breakpoint) {
    .workoutsBlock {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        &:hover {
            @include boxshadow;
        }
    }
}