.bannerText {
    background: #f1f1f1;
    padding: 130px 0;
    text-align: center;
    color: rgb(179, 179, 179);
}


.bannerText__container {
    width: 90%;
    margin: 0 auto;
}
  
@media (min-width: $desktop-breakpoint) {
    .bannerText__container {
      width: 54%;
    }
}