.homecontent__wrapper {
    background: #f1f1f1;
    padding-bottom: 80px;
}

.homecontent {
    text-align: center;
    padding-top: 1em;
    h2 {
        color: rgb(179, 179, 179);
        font-size: 1.5em;
    }
}


.homecontent__grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 4em;
    padding-bottom: 4em;
}

.homecontent__panel {
    align-self: center;
    background: #fcfbfb;
    margin: 1em;
    padding-top: 1em;
    border-radius: 10px;
    @include boxshadow;
    h3 {
        padding-top: 1em;
        // font-size: 1.17em;
        color: slateblue;
    }
    img {
        margin-top: 2em;
        width: 100px;
    }
    p {
        padding: 1.17em;
        margin: 0 1em;
        color: grey;
        font-size: 1.1em;
    }
}


@media only screen and (min-width: $desktop-breakpoint) {
    .homecontent__wrapper {
        padding-top: 60px;
    }

    .homecontent__grid {
        margin-top: 4em;
        grid-template-columns: 1fr 1fr 1fr;
    }
}