.btn {
    background: transparent;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    padding: 10px 30px;
    font-size: 1.6em;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
    &:hover {
        background: white;
        color: rgb(146, 135, 216);
        cursor: pointer;
    }
}