footer {
    text-align: center;
    background: #323232;
    color: white;
    padding: 20px 0;
    h1 {
        padding-bottom: 40px;
    }
    h3 {
        padding-top: 30px;
    }
    a {
        text-decoration: none;
        color: slateblue;
    }
}