.modal__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.modal__close {
    display: inline;
    text-align: right;
    color: grey;
    justify-items: end;
    svg, i {
        cursor: pointer;
    }
}

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    color: $off-grey;
    background: #f1f1f1;
    border-radius: 20px;
    z-index: 2000;
    max-width: 80%;
    min-width: 10rem;
    min-height: 18rem;
    outline: none;
    padding: 30px;
    text-align: center;
    h3 {
        display: inline;
    }
    hr {
        width: 80%;
        margin-bottom: 40px;
        color: lightgrey;
        background: lightgrey;
        border: 1px solid lightgrey;
        margin-top: 20px;
    }
}

.modal--edit {
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}

.modal--edit::-webkit-scrollbar-track {
    margin: 14px 0;
    background: none;
    box-sizing: border-box;
  }



.modal__login-button {
    background: white;
    color: grey;
    display: block;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    padding: 20px;
    width: 100%;
    margin: 10px 0 10px 0;
    cursor: pointer;
    @include boxshadow;
    span {
        padding-left: 20px;
        vertical-align: top;
        line-height: 50px;
    }
}

.modal--create {
    label {
        display: block;
        text-align: left;
        padding: 10px 0;
    }
    input {
        box-sizing: border-box;
        font-size: 1em;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        border: none;
        margin-bottom: 20px;
    }
}

.modal__button {
    background: $purple-gradient;
    color: white;
    display: block;
    border: none;
    border-radius: 20px;
    font-size: 1.4em;
    padding: 20px;
    width: 100%;
    margin: 10px 0 10px 0;
    cursor: pointer;
    // @include boxshadow;
    &:disabled {
        background: lightgrey;
        box-shadow: none;
    }
}


.modal--edit {
    label {
        display: block;
        text-align: left;
        padding: 10px 0;
    }
    input {
        box-sizing: border-box;
        font-size: 1em;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        border: none;
        margin-bottom: 20px;
    }
    .modal--edit__numberInput1 {
        padding: 15px 10px;
        width: 40%;
        margin-right: 5%;
    }
    .modal--edit__numberInput2 {
        padding: 15px 10px;
        width: 40%;
        margin-left: 5%;
    }
    .modal--edit__breakInclude {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        margin-bottom: 10px;
    }
    .modal--edit__checkbox {
        width: 10%;
    }

    select {
        box-sizing: border-box;
        font-size: 1em;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        border: none;
        margin-bottom: 20px;
    }
}

.exerciseGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    max-width: 100%;
    text-align: left;
}

select option[value="#40b3e1"] {
    background: #40b3e1;
}

select option[value="#acff82"] {
    background: #acff82;
}

select option[value="#fedc45"] {
    background: #fedc45;
}

select option[value="#fec345"] {
    background: #fec345;
}

select option[value="#fe6145"] {
    background: #fe6145;
}

select option[value="#b145fe"] {
    background: #b145fe;
}



.modal--edit__checkboxDiv {
    margin-bottom: 20px;

    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
        margin: 0;
        display: inherit;
    }
    
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 100px;
        height: 50px;
        padding: 0;
        margin: 0;
        background: grey;
        display: block;
        border-radius: 50px;
        position: relative;
    }
    
    label:after {
        content: '';
        position: absolute;
        top: 2.5px;
        left: 2.5px;
        width: 45px;
        height: 45px;
        background: #fff;
        border-radius: 45px;
        transition: 0.3s;
    }
    
    input:checked + label {
        background: #bada55;
    }
    
    input:checked + label:after {
        left: calc(100% - 2.5px);
        transform: translateX(-100%);
    }
    
    label:active:after {
        width: 65px;
    }
}

.modal--edit__error {
    color: red;
    margin: 0;
    text-align: left;
}
