.navbar {
    // background: transparent;
    z-index: 1000;
    // position: absolute;
    width: 100%;
    h2 {
        color: white;
        display: inline;
    }
}

.navbar--loggedOut {
    position: absolute;
    background: transparent;
}

.navbar--loggedIn {
    background: $off-grey;
    position: relative;
}

.navbar__items {
    display: flex;
    justify-content: space-between;
}


.navbar__links {
    margin-top: 25px;
    a {
        color: white;
        padding-left: 15px;
        text-decoration: none;   
    }
}

.navbar__links--active {
    color: blueviolet;
}   