// colors 
$off-grey: #323232;


// sizes
$desktop-breakpoint: 62rem;

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

.container {
    width: 90%;
    margin: 0 auto;
}
  
@media (min-width: $desktop-breakpoint) {
    .container {
      width: 74%;
    }
}