// colors 
$off-grey: #323232;
$light-grey: #f1f1f1;
$purple-gradient: linear-gradient(141deg, rgba(106, 91, 204, 0.6) 0%, rgba(63, 119, 223, 0.6) 51%, rgba(70, 178, 218, 0.6) 75%);
$green-gradient: linear-gradient(141deg, rgba(101, 241, 238, 0.6) 0%, rgba(67, 254, 192, 0.6) 51%, rgba(67, 254, 192, 0.6) 75%);
$blue-gradient: linear-gradient(141deg, rgba(200, 210, 100, 0.8) 0%, rgba(230, 230, 80, 0.8) 100%);
// sizes
$desktop-breakpoint: 62rem;

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    margin: 0 auto;
}
  
@media (min-width: $desktop-breakpoint) {
    .container {
      width: 74%;
    }
}